/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 déc. 2022, 16:44:50
    Author     : William
*/

h2 {
    color: rgb(226,0,26);
    font-size:25px;
}
